<h1>New game</h1>
<%@letters_array.chars.each do |letter|%>
<span><%=letter%></span>
<%end%>

<form action="/score" method="POST" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input id="token" name="token" type="hidden" value="<%=@letters_array%>" />
  <input name="initial_time" type="hidden" value="<%=@initial_time%>" />
  <input type="text" name="mots" placeholder="saisissez votre mot le plus long...">
  <input type="submit" value="valider">
</form>
